<body>
    <div class="fullscreen-container">
        <div class="container">
            <div class="heading">
                <h1>Join the<span>fun</span></h1>
            </div>
            <div class="form-container">
                <form>
                    <div class="input-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="Email">
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="Password" id="Password" name="Password">
                    </div>
                    <button>Join Now</button>
                </form>
            </div>
        </div>
    </div>
</body>