
    <div class="fullscreen-container">
        <div class="container">
            <div class="heading">
                <h1>Join the<span>fun</span></h1>
            </div>
            <div class="form-container">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                        type="text" 
                        id="name" 
                        class="form-control"
                        ngModel
                        name="username"
                        required>
                    </div>
                    <span>Please Select Gender</span>
                    <div class="radio" *ngFor="let gender of genders">
                        <label>
                         <input 
                         type="radio"
                         name="gender"
                         ngModel
                         [value]="gender"
                         required
                         >
                         {{gender}}
                        </label>
                     </div>
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input 
                        type="email" 
                        id="email" 
                        ngModel
                        name="Email"
                        required
                        email
                        #email="ngModel">
                        <span class="help-block" style="color:red;" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input 
                        type="Password" 
                        id="Password" 
                        class="form-control"
                        ngModel
                        name="Password"
                        required
                        >
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input 
                        type="Password" 
                        id="Password" 
                        class="form-control"
                        ngModel
                        name="Password"
                        required>
                    </div>
                    <button [disabled]="f.invalid">Join Now</button>
                </form>
            </div>
        </div>
    </div>