
/* --------------------------------------------------------- */
.sign-up-block{
  background: #FAEEFA;
  background-size: cover;
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	float: left;
	width: 100%;
	padding: 50px 0;
  height: 100vh;
}
.container {
  background: #fff;
	border-radius: 10px;
	box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
  }
  .btn{
    margin-top:15px;
    background-color: #DE6262;
    color: #fff;
  }
  input.ng-invalid.ng-touched{
    border:1px solid red;
  }
  .sign-up-sec {
    padding: 50px 30px;
    position: relative;
  }
  .banner-sec {
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
  }
  form >h2{
    color: #DE6262;
    font-weight: 800;
	  font-size: 30px;
  }
  form >h2:after{
    content:"";
    background: #FFB88C;
    width:100px;
    height:5px;
    display: block;
    margin-top: 5px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
  }
