body {
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    background:gainsboro;
  }
  
  .green-contact-form {
    /* width: 700px; */
    margin:0 auto;
    border-radius:10px;
  }
  
  .btn{
    margin-top: 10px;
  }
  .contact-img{
    border-radius:25px;
  }
  .title-form {
    text-align: center;
  }
 .contact-info{
  position: relative;
  width: 300px;
 }
 .contact-img{
  border-radius: 20px;
 }
  .sub-contact-info{
    background-color: #f992a6;
    position:absolute;
    right: -200px; 
    bottom: -40px;
    width: 250px;
    height:200px;
    color:#000;
    border-radius: 20px;
    
  }
  