body {
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    background:gainsboro;
  }
  
  .green-contact-form {
    /* width: 700px; */
    margin:0 auto;
    border-radius:10px;
  }
  
  .btn{
    margin-top: 10px;
  }
  .contact-img{
    border-radius:25px;
  }
  .title-form {
    text-align: center;
  }
  