<div class="green-contact-form p-5 bg-white">

  <div class="zoom-in-zoom-out">
    <img src="/assets/flower.jpg" class="flower-img">
  </div>
  
    <div class="title-form mb-5">
      <h2><u> GET IN TOUCH </u></h2>
      <p>We're very approachable and would love to speak to you. Feel free to call, send us an email, Tweet us or simply complete the enquiry form.</p>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="form-box">
                <h2>Send Us a Message</h2>
                
                      <form>
                        <fieldset class="form-group">
                          <label for="yourName">Your Name (required)</label>
                          <input type="text" class="form-control" id="yourName" placeholder="Enter Your Name" required>
                        </fieldset>
            
                        <fieldset class="form-group">
                          <label for="yourEmail">Email Adressess (required)</label>
                          <input type="email" class="form-control" id="yourEmail" placeholder="Enter Your Email" required>
                        </fieldset>
            
                        <fieldset class="form-group">
                          <label for="yourPhone">Telephone number</label>
                          <input type="text" class="form-control" id="yourPhone" placeholder="Enter Your Phone">
                        </fieldset>
            
                        <fieldset class="form-group">
                          <label for="yourEmail">Your message (required)</label>
                          <textarea class="form-control" rows="6"></textarea>
                        </fieldset>
                        <button type="submit" class="btn btn-dark" required>SEND MESSAGE</button>
                      </form>
                
              </div>
            </div>
              <div class="col-md-6 col-xs-6 col-sm-6 mt-4 contact-info">
                <img src="/assets/model_3.jpg" class="contact-img">
              </div>
        
    </div>

    <div class="d-flex zoom-in-zoom-out flex-row-reverse">
      <div class="p-2"><img src="/assets/flower.jpg" class="flower-img"></div>
    
    </div>

    
   
  </div>