<div class="sign-up-block">
    <div class="container">
      <div class="row">
        <div class="col-md-4 login-sec">
                <h2 class="text-center">Forgot Password</h2>
  
                <form class="login-form">
                      <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Email</label>
                            <input type="email" class="form-control" placeholder="" name="email" [(ngModel)]="email">
                      </div>
                      
  
                  <button type="button" class="btn btn-info" (click)="forgotPassword()">Send Link</button>
                  
               
                
                  
    
            </form>
  
        </div>
        
        <div class="col-md-8 banner-sec">
          <img class="d-block img-fluid" src="\assets\boutique.jpg" alt="First slide"> 
        </div>
    </div>
    </div>
  </div>
  
  
  
