._content{
    position: relative;
    min-height:100vh;
    overflow:hidden;
}
.banner {
    position: absolute;
  }
.banner-img {
    margin: 80px 115px;
    width: 60%;
  }
.banner-img img {
    width: 100%;
    margin-bottom: -80px;
  }
  .banner-title {
    position: absolute;
    left: 50%;
    top: 20%;
  }
  .banner-title h1 {
    font-size: 55px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    line-height: 70px;
    padding: 0 10px 0 10px;
    text-transform: uppercase;
  }
  .fashion-trends{
    padding: 100px 0;
  }
  .fashion-box{
    margin:80px 0;
  }
  .title-style h1{
    padding: 40px 0;
  }
  .title-style{
    margin: 0 auto 80px;
    height: 120px;
    width: 80%;
    min-width: 700px;
    background: #fff;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 50, 0.5);
  }
  .title-style::after{
    content: "";
    height:100px;
    width:200px;
    background-color: #f992a6;
    position: absolute;
    top:-10px;
    left:-10px;
    z-index: -1;
  }
  .title-style::before{
    content: "";
    height: 100px;
    width: 200px;
    background-color: #f992a6;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: -1;
  }