<div class="_content">
    
    <div class="banner">
        <div class="banner-img">
            <img  src="/assets/home_photo3.jpg" alt=""/>
        </div>
        <div class="banner-title">
            <h1>NG'ARA FASHIONS</h1>
            <h1>EVERY WOMAN'S DREAM</h1>
        </div>
        
    </div>
</div>
    <section class="fashion-trends">
        <div class="container">
            <div class="fashion-box">
                <div class="title-style text-center">
                    <h1>Ng'ara Trends</h1>
                </div>
                <p class="text-center sm-bt">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                     Alias consequuntur ipsa quae numquam perspiciatis cumque, autem in enim, quidem architecto pariatur nemo. Rem eius vitae aperiam quaerat iusto quibusdam corrupti.
                </p>
            </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="trending-img">
                    <img src="/assets/home_4.jpg">
                    <button type="button" class="btn-buy">Buy Now</button>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="trending-img">
                    <img src="/assets/home_5.jpg">
                    <button type="button" class="btn-buy">Buy Now</button>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="trending-img">
                    <img src="/assets/home_6.jpg">
                    <button type="button" class="btn-buy">Buy Now</button>
                    <div class="overlay"></div>
                </div>
            </div>
        </div>
        </div>
    </section>
    
    

