._content{
    position: relative;
    min-height:100vh;
    overflow:hidden;
}
.banner {
    position: absolute;
  }
.banner-img {
    margin: 80px 115px;
    width: 60%;
  }
.banner-img img {
    width: 100%;
    margin-bottom: -80px;
  }
  .banner-title {
    position: absolute;
    left: 50%;
    top: 20%;
  }
  .banner-title h1 {
    font-size: 55px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    line-height: 70px;
    padding: 0 10px 0 10px;
    text-transform: uppercase;
  }