<div class="_content">
    
    <div class="banner">
        <div class="banner-img">
            <img  src="/assets/home_photo3.jpg" alt=""/>
        </div>
        <div class="banner-title">
            <h1>NG'ARA FASHIONS</h1>
            <h1>EVERY WOMAN'S DREAM</h1>
        </div>
        
    </div>
</div>
    <section class="fashion-trends">
        <div class="container">
            <div class="fashion-box">
                <div class="title-style text-center">
                    <h1>Ng'ara Trends</h1>
                </div>
                <p class="text-center sm-bt">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                     Alias consequuntur ipsa quae numquam perspiciatis cumque, autem in enim, quidem architecto pariatur nemo. Rem eius vitae aperiam quaerat iusto quibusdam corrupti.
                </p>
            </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="trending-img">
                    <img src="/assets/home_4.jpg">
                    <button type="button" class="btn-buy">Buy Now</button>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="trending-img">
                    <img src="/assets/home_5.jpg">
                    <button type="button" class="btn-buy">Buy Now</button>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="trending-img">
                    <img src="/assets/home_6.jpg">
                    <button type="button" class="btn-buy">Buy Now</button>
                    <div class="overlay"></div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- about-us section -->
    <section class="about-us">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="/assets/model_1.jpg">
            </div>
            <div class="col-md-6">
                <div class="subscribe">
                    <h4>About Ng'ara Fashions</h4>
            
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Earum at maiores, quae ea neque ullam dolore repudiandae rem? Mollitia totam inventore doloremque corrupti, 
                 iusto rerum. In minima praesentium omnis quibusdam.</p>
                 <a href="#" target="_blank" rel="noref">More Info</a> 
                </div>
            </div>
        </div>
    </section>

    <!-- latest blogs -->
    <section class="fashion-blog">
        <div class="title-style text-center">
            <h1>Latest Blogs</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="blog-img">
                            <img src="/assets/model_1.jpg">
                            <h5>Buy 1 Get 1 free</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="blog-img">
                            <img src="/assets/model_2.jpg">
                            <h5>New style 50% off</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="blog-img">
                            <img src="/assets/model_3.jpg">
                            <h5>New Collection</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fashion brands -->
    <section class="fashion-brands">
        <div class="title-style text-center">
            <h1>Our FashionBrands</h1>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="brand-logo">
                        <img src="\assets\brand-2.jpg">
                    </div>
                    <p>Exclusive Offers</p> 
                </div>
                <div class="col-md-3">
                    <div class="brand-logo">
                        <img src="">
                    </div>
                    <p>50% off</p> 
                </div>
                <div class="col-md-3">
                    <div class="brand-logo">
                        <img src="">
                    </div>
                    <p>Free Delivery</p> 
                </div>
                <div class="col-md-3">
                    <div class="brand-logo">
                        <img src="">
                    </div>
                    <p>Upto 40% Off</p> 
                </div>
            </div>
        </div>
    </section>

