<div class="sign-up-block">
    <div class="container">
      <div class="row">
        <div class="col-md-4 login-sec">
                <h2 class="text-center">Verify Email</h2>
  
                <form class="login-form">
                     <p>An email has been sent to verify email</p>
                      
  
                  <button type="button" class="btn btn-info">verify</button>
                  
               
                
                  
    
            </form>
  
        </div>
        
        <div class="col-md-8 banner-sec">
          <img class="d-block img-fluid" src="\assets\boutique.jpg" alt="First slide"> 
        </div>
    </div>
    </div>
  </div>
  
  
  

