<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<ng-container *ngIf="productList.length != 0">
    <div class="container">
        <div class="card-table">
            <div class="card-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Serial No.</th>
                            <th>Product Name</th>
                            <th>Product Description</th>
                            <th>Product Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productList;let i=index">
                            <td>{{i+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td style="width:120px;"><img src="{{item.img}}" alt=""></td>
                            <td style="width:25%;">{{item.amount}}</td>
                            <td style="width:25%;"><i (click)="reduceQty(item.id)" class="bi bi-dash-square-fill"></i>{{item.qty}}<i (click)="addQty(item.id)" class="bi bi-plus-square-fill"></i></td>
                            <td style="width:25%;">{{item.total}}</td>
                            <td>
                                <button class="btn"(click)="removeItem(item)"><img src="/assets/trash-can.svg"></button>
                            </td>
                        </tr>
                      <tr>
                            <td colspan="4"></td>
                            <td><button class="btn btn-danger"(click)="emptyCart()">Clear Cart</button></td>
                            <td><button class="btn btn-primary"(click)="onShop()">Shop More</button></td>
                            <td><strong>{{calcGrandTotal()}}</strong></td>
                            <td><button class="btn btn-success">CheckOut</button></td>
                      </tr>
                    </tbody>
                </table>
  
            </div>
        </div>
    </div>
</ng-container>




<ng-container *ngIf="productList.length === 0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="\assets\shopping-cart.jpg" alt="">
            <h4>Your Card is Empty</h4>
            <h6>Add items to it now</h6>
            <button class="btn btn-primary"(click)="onShop()">Shop Now</button>
        </div>
    </div>
</ng-container>

