<div class="row">
    <!-- <div class="item col-xs-4 col-md-3">
        <a href="#" 
        class="list-group-item clearfix"
        *ngFor="let menu of menus">
         <div class="pull-left">
            <h4>{{menu.name}}</h4>
            <h4>{{menu.description}}</h4>
         </div>
         <div class="pull-right">
            <img src="{{menu.imagePath}}" alt="{{menu.name}}" class="img-responsive">
         </div>
        </a>
    </div> -->
    <div class="item  col-xs-4 col-md-3">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://res.cloudinary.com/dnhwxgf8i/image/upload/c_scale,h_250,w_400/v1488011915/mockup1_ff4smb.jpg" alt="" />
          <div class="category">
            <h5 class="category-name">Shelves</h5>
          </div>
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    Pastel Love</h4>
                
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            $4,500</p>
                    </div>
                    <div class="btn-group">
                  <a class="btn btn-details" href="http://www.jquery2dotnet.com">Details</a>
<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>

                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
