*{
    margin:0;
    padding: 0;
}
.navbar{
    height:50px;
}
.cart{
    cursor: pointer;
}
.nav-item{
    font-size: 20px;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bolder;
    padding-right: 10px;
}
.btn{
    outline:none;
    border:none;
}

